<% content_for :title do %>About<% end %>
<h3>About Liam Graham</h3>

<p>
  Nashville bassist Liam Graham comes from a diverse musical background, having been a guitarist, flutist, classical
  singer, choral director and composer in addition to his concentration on fretted and fretless bass. He has played a
  variety of styles, including rock, country, blues, jazz, fusion, and Americana. While living in the Seattle area
  he played with a number of local artists, including Grammy-nominated singer-songwriter Holly Figueroa O'Reilly,
  fingerstyle guitar great Peter Spencer, and singer-mandolist Susan Welch. Since moving to Nashville in 2007 he has
  appeared with country rockers Beau Braswell and Ryan Weber, gothic blues punk band Scotch Hollow, country
  songstress Jessie Kohut, classic rock band GK's Revenge, and the fusion trio Stutter Step, with Andy Gurley on
  guitar (Highway 101, Blue County). He currently plays and sings harmonies with the blues / soul band the Brian
  James Band, featuring Tim Gonzalez on harp (Los Lonely Boys), and with the eclectic trio Lazarus 3 with Richard Moore.
</p>